.Title{
    color:#273961;
    font-size: 22px;
    font-weight: 600;
}
.AllOrders{
    color:#273961;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}
.OrdersReceived{
    color:#16C098;
    font-size: 14px;
    font-weight: 600;
}