.LoginBtn {
  background-color: #021a4f !important;
  color: #a1f6ff !important;
  border-radius: 2rem !important;
  width: 7rem;
  height: 2.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.RegisterBtn {
  background-color: transparent !important;
  color: #273961 !important;
  box-shadow: none !important;
  border-color: transparent !important;
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 20px;
}
.ForgotBtn {
  background-color: #021a4f !important;
  color: #a1f6ff !important;
  border-radius: 2rem !important;
  width: 8rem;
  height: 2.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.AddUSer {
  background-color: #021a4f !important;
  color: #a1f6ff !important;
  border-radius: 10px !important;
  width: 7rem;
  height: 2rem;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.AddCustomer {
  background-color: #021a4f !important;
  color: #a1f6ff !important;
  border-radius: 10px !important;
  width: 7rem;
  height: 2rem;
  font-weight: 600;
  font-size: 0.7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.Edit{
  border: none;
  color: #273961;
  font-size: 16px;
  background-color: #E8FCFF;
  font-weight: 400;
}
.MoreDetails{
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 0px 20px;
  height: 40px;
  width: 100%;
  background-color: #273961;
  font-weight: 500;
}
.PopOver {
  background-color: transparent !important;
  color: #273961 !important;
  box-shadow: none !important;
  border-color: transparent !important;
  font-weight: 600;
  text-align: left;
}
.Cancel {
  border: 1px solid #021a4f !important;
  color: #021a4f !important;
  border-radius: 10px !important;
  // margin: 40px 0px;
  margin-right: 20px;
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.Logout {
  border: none !important;
  color: #ffffff !important;
  border-radius: 10px !important;
  // margin: 40px 0px;
  // margin-right: 20px;
  text-align: left;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  margin: 20px;
  padding-left: 25px;
  background: rgba(86, 185, 196, 0.3);
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.Approve {
  background-color: #021a4f !important;
  color: #ffffff !important;
  border-radius: 10px !important;
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.Reject {
  border: 1px solid #021a4f !important;
  color: #021a4f !important;
  border-radius: 10px !important;
  // margin: 40px 0px;
  margin-right: 20px;
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.Save {
  // margin: 40px 0px;
  background-color: #021a4f !important;
  color: #a1f6ff !important;
  border-radius: 10px !important;
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.PopOver:hover {
  background-color: #a1f6ff !important;
}

.RegisterBtn:hover {
  border: none;
}

.LoginBtn:hover,
.AddUSer:hover {
  border: none;
}
.SalesPackage{
  color:#021a4f;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background: none;
  box-shadow: none;
  float: right;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .LoginBtn {
    width: 5rem !important;
    height: 4rem !important;
    font-size: 17px !important;
  }
  .Approve {
    background-color: #021a4f !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-top: 20px;
  }
  .Reject {
    border: 1px solid #021a4f !important;
    color: #021a4f !important;
    border-radius: 10px !important;
    // margin: 40px 0px;
    margin-right: 20px;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-top: 20px;
  }
}
